doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/w3.css')
    body
        header.w3-container.w3-orange
            h2
                a(href="/" style="text-decoration: none") Plataforma de Compositores
        block content
